<!DOCTYPE html>
html( lang="en")
  head
    meta(charset="UTF-8")
    title Title
    link(rel="stylesheet" href="/public/styles/ionicons.css" type="text/css" media="screen")
  body
    i(style="color: red; font-size: 32px; display: inline-block; padding: 22px; width: 42px; border-radius: 4px;" class="icon ion-home")
    div(id="root")
      script(src="/public/app.js")